* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #201F1F;
    font-size: 18px;
    font-family: "Oswald",
        Arial,
        Helvetica,
        sans-serif;
}


.container {
    margin: 50px;
}

/* JUMBOTRON */
.jumbotron-content {
    margin-top: 50px;
    background-image: url(/Aset/Sadboy@2x.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.486);
    background-blend-mode: darken;
    height: 100vh;

}

.btn-email {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
}

.btn-email:hover {
    opacity: 0.6;
}


/* NAVBAR */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.4s;
}


nav {
    display: flex;
    background-color: rgb(8, 8, 8);
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: rgb(255, 255, 255);

}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: rgb(9, 79, 230);
}

/* main {
    margin-top: 100px;
    display: grid;
    gap: 10px;
} */


/* Menu Toggle */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0.8;
    left: -5px;
    top: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

/* Menu HAmburger */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #201F1F;
}

::-webkit-scrollbar-thumb {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle,
            rgba(63, 94, 251, 1) 10%,
            rgb(0, 0, 0) 95%);
}


/* Portofolio */
.portofolio {
    display: grid;
    grid-gap: 0.5em;
    grid-template-areas:
        'hero feature-1'
        'hero feature-2'
        'feature-3 hero1'
        'feature-4 hero1';

}

h2 {
    color: white;
    text-align: center;
    margin: 50px;
}

.hero {
    grid-area: hero;
    min-height: 500px;
    background-image: url(../Aset/portofolio1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.hero1 {
    grid-area: hero1;
    min-height: 500px;
    background-image: url(../Aset/portofolio.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.features {
    display: grid;
    place-content: center;
    border-radius: 15px;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(../Aset/portofolio2.jpg);
    background-size: cover;
    background-position: top;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(../Aset/portofolio3.jpg);
    background-size: cover;
    background-position: center;
}

.feature-3 {
    grid-area: feature-3;
    background-image: url(../Aset/portofolio4.jpg);
    background-size: cover;
    background-position: center;
}

.feature-4 {
    grid-area: feature-4;
    background-image: url(../Aset/portofolio5.jpg);
    background-size: cover;
    background-position: bottom;

}